{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Les réservations </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Client</th>
                <th>La voiture réservé</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Prix par jour</th>
                <th>Les actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.getPkClient().nom }}</td>
                <td>{{ reservation.getPkVoiture().matricule }}</td>
                <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.prixParJour }}</td>
                <td class="d-flex">
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}"class="btn btn-primary" ><i class="far fa-eye"></i></i></a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}"class="btn btn-success"><i class="nav-icon fas fa-edit"></i></a>
                    <a>{{ include('reservation/_delete_form.html.twig') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
